body
{
    margin: 0;
}

.header
{
    margin: 5px auto;
    padding: 5px;
}

.container
{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin: 0 auto;
    padding: auto 5px;
}

h1
{
    font-family: Papyrus, fantasy;
    font-size: 3em;
    border-bottom: 2px solid pink;
    border-right: 2px solid pink;
    width: 400px;
    text-align: center;
    box-shadow: 4px 4px 5px #888888;
    /* -moz-box-shadow: ;
    -ms-box-shadow: 4px 4px 5px #888888; */
    margin-top: 10px;
}

img
{
    width: 400px;
    height: 400px;
    margin: 10px;
    transition: all 1s;
}

img:hover
{
    transform: scale(1.1);
}

