* {
  box-sizing: border-box;
  border: 1px solid black;
}

.half-height {
  height: 50vh;
}

.quarter-height {
  height: 25vh;
}

.small-height {
  height: 15vh;
}

.row,
main {
  float: left;
  width: 100%;
}

.center {
  text-align: center;
}

.inherit {
  height: inherit;
}

.mb-2 {
  margin-bottom: 5px;
}

.p-5 {
  padding: 10px 5px;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 24.99%;
}
.col-4 {
  width: 33.32%;
}
.col-5 {
  width: 41.65%;
}
.col-6 {
  width: 49.98%;
}
.col-7 {
  width: 58.31%;
}
.col-8 {
  width: 66.64%;
}
.col-9 {
  width: 74.97%;
}
.col-10 {
  width: 83.3%;
}
.col-11 {
  width: 91.63%;
}
.col-12 {
  width: 99.96%;
}

[class*="col-"] {
  float: left;
  padding: 1%;
}
/* small devices upward on landscape */
@media (min-width: 576px) {
}

/* tablet devices upward on landscape mode */
@media (min-width: 768px) {
}

/* desktop on landscape mode */
@media (min-width: 992px) {
}
