html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  background-color: #66ccff;
  color: white;
  text-align: center;
  padding: 10px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: none;
  color: red;
}

h1,
h2,
h3 {
  margin: 0;
}

#container {
  background-color: white;
}

#content {
  padding: 10px;
}

#nav {
  max-width: 180px;
  float: left;
  padding: 10px 20px;
}

#nav ul {
  list-style-type: none;
  padding: 0;
}

#nav .selected {
  font-weight: bold;
}

#main {
  max-width: 600px;
  float: right;
  text-align: justify;
  padding: 10px 20px;
  width: 100%;
  margin: 0 auto;
}

#footer {
  clear: both;
  padding: 10px;
  background-color: #999999;
  color: white;
  text-align: right;
  position: fixed;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  font-weight: bold;
}

#main > p {
  color: crimson;
  margin: 2em 0;
}

@media (max-width: 855px) {
  /* body{
    display: flex;
    flex-direction: column;
  } */
}
