/*  */

body
{
    background-image: url(Ejiro.JPEG);
    background-size: cover;
}

a
{
    text-decoration: none;
    color: white;
}

h2, p
{
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    border: 5px solid white;
    cursor: pointer;
}

p
{
    text-align: center;
}

li
{
    list-style: none;
    display: inline-block;
}
