* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, red, yellow);
  padding: 0 1rem;
  overflow-x: hidden;
  /* Standard syntax */
}

h1 {
  font: 600 3.5em "Raleway", sans-serif;
  margin-bottom: 1rem;
}

h2 {
  margin: 1rem;
  letter-spacing: 0.3rem;
}

h3 {
  font: 700 1.2em "Raleway";
  text-transform: none;
  letter-spacing: 0.01em;
}

.btn {
  margin: 1em;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 1);
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  color: white;
  cursor: pointer;
}

.btn:focus {
  border: none;
  outline: none;
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: clamp(1rem, 7vw, 2rem);
  }

  h2 
  {
    font-size: clamp(0.9rem, 4vw, 1.8rem);
  }

  h3 {
    font-size: clamp(0.8rem, 3vw, 1.5rem);
  }
}

@media (max-width: 320px) {
  h1{
        font-size: clamp(1rem, 5vw, 1.5rem);
    }

    h2
    {
        font-size: clamp(.9rem, 4vw, 1rem);
    }
}
